:root {
  --very-dark-gray-blue: hsl(217, 19%, 35%);
  --dark-blue:hsl(214, 17%, 51%);
  --grayish-blue:hsl(212, 23%, 69%);
  --bg-color: hsl(210, 46%, 95%);
  --font-fam:'Manrope', sans-serif;
}

/* General */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
/* browser font size 10px */
/* 10 / 16 = 0.625 = 62.5%*/
/* Percentage of users browser font size setting */
font-size: 62.5%;
}

body {
  font-family: var(--font-fam);
  background-color: var(--bg-color);
  font-size: 1.3rem;
  line-height: 1.5;
}

h3,
h4 {
  font-weight: bold;
}

.primary-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  max-width: 100rem;
  margin: 0 auto;
}

.card {
  display: flex;
  border-radius: .8rem;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin-top: 15vh;
  margin-bottom: 4rem;
  position: relative;
}

.card-img {
  display: inline-block;
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
  margin-bottom: 1.2rem;
  width: 100%;
}

.content {
  margin: 1.4rem 1rem 1rem 1rem;
  padding: 1.4rem;
}

h3 {
  color: var(--very-dark-gray-blue);
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

.content p {
  color: var(--dark-blue);
  font-size: 1.48rem;
  margin-bottom: 1.4rem;
  padding-bottom: 1rem;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
}

.user-content {
  margin-left: -6rem;
  height: 5rem;
}

h4 {
  color: var(--very-dark-gray-blue);
  font-size: 1.35rem;
 
}

.date {
  color: var(--grayish-blue);
}

.btn {
  border: none;
  background-color: var(--bg-color);
  cursor: pointer;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  transition: 0.3s;
  z-index: 1;
}

/* Tooltip */
.share-tooltip {
  background-color: var(--very-dark-gray-blue);
    display: flex;
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    position: absolute;
    top: 89%;
    right: 0;
    left: 0;
    transition: all .3s;
    width: 100%;
    height: 7rem;
    z-index: 2;
    max-width: 36rem;
}

.share-tooltip p {
  color: var(--grayish-blue);
  letter-spacing: .3rem;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  margin-left: -6rem;
  width: 30%;
}

.share-hide {
  background-color: var(--dark-blue);
}

.share-hide .share-icon path {
  fill: var(--bg-color);
}

.share-tooltip::before{
  display: none;
}

.close {
  display: none;
}

.close .btn:focus {
  background-color: var( --dark-blue);
}

.close .btn:focus .share-icon path {
  fill: var(--bg-color);
}

/* Footer */
.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: var(--very-dark-gray-blue); 
  text-decoration: none;
}

/* Desktop */

@media (min-width: 50em) {
  .card {
    flex-direction: row;
  }

  .card-img,
  .content {
    flex: 1;
  }

  .card-img {
    border-bottom-left-radius: 0.8rem;
    border-top-right-radius: 0;
    max-width: 45rem;
    margin-bottom: 0;
  }

  h3 {
    font-size: 2.6rem;
  }

  .content p {
    font-size: 1.6rem;
  }

  .user-profile {
    width: 95%;
  }

  .user-content {
    margin-left: -20rem;
  }
  h4,
  .date {
    font-size: 1.4rem;
  }

  /* Tooltip */
  .share-tooltip {
    border-radius: 1rem;
    top: 53%;
    left: 77rem;
    right: -20rem;
    width: 25rem;
    height: 6rem;
  }

  .share-tooltip::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 56%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--very-dark-gray-blue) transparent transparent transparent;
  }

  .share-hide {
    display: none;
  }

  .social-icons {
    width: 55%;
  }

  .btn:hover {
    background-color: var( --dark-blue);
  }
  .btn:hover .share-icon path {
    fill: var(--bg-color);
  }
}